.container {
      position: relative;
      width: 100vw;
      height: 100vh;
      background-color: rgb(79, 182, 255);
    }
    .topleft {
      position: absolute;
      top: 40px;
      left: 40px;
      color: black;
      font-family: 'Georgia', serif;
      font-size: 2.5rem;
      line-height: 1.2;
      text-align: left;
    }
    .center-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      max-width: 90vw;
    }
    .bottom-right {
      position: absolute;
      right: 40px;
      bottom: 40px;
      color:black;
      font-family: 'Georgia', serif;
      font-size: 2.3rem;
      line-height: 1.2;
      text-align: right;
    }